.form {
  display: block !important;
  margin: 50px auto;
  padding: 20px 50px;
  border: 3px solid var(--accent) !important;
  border-radius: 100px 5px;
  justify-content: center;
  transition: all 0.3s;
  background-color: var(--secondary);
}

.form__title {
  text-align: center;
  margin-bottom: 20px;
}

.form.form__touched {
  border-radius: 5px 30%;
}

.error {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: red;
}

.form__btn {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .form__container_register {
    display: flex !important;
    flex-direction: column !important;
    gap: 10px;
  }

  .form {
    border-radius: 60px 5px;
  }
}
