.input {
  background-color: var(--overlay) !important;
  border-radius: 5px !important;
  border: none !important;
  width: 100%;
  margin: 15px 0 !important;
}

input {
  color: var(--textSec) !important;
}

.css-1jjm1qg-MuiInputBase-root-MuiFilledInput-root {
  background-color: var(--overlay) !important;
}

.passwordInput div {
  background-color: var(--overlay) !important;
}
label {
  color: var(--text) !important;
}

.css-8992ld-MuiInputBase-root-MuiFilledInput-root:after {
  border-bottom: 2px solid var(--accent) !important;
  /* border-bottom: 2px solid red !important; */
}

.passwordInput {
  width: 100%;
  background-color: var(--input);
}

.iconPassword {
  color: var(--accent) !important;
}
