/* .slider {
  padding-top: 50px;
} */
.slide__item {
  width: 100%;
  height: 90vh;
}
@media screen and (max-width: 525px) {
  .slide__item {
    height: 60vh;
  }
}
@media screen and (max-width: 420px) {
  .slide__item {
    min-height: 40vh;
  }

  .slide__item__content__title {
    font-size: 20px !important;
  }
  .slide__item__content__description {
    font-size: 13px !important;
  }
}

.slide__item__content__word {
  font-size: 250px;
  position: absolute;
  left: 50px;
  right: 50px;
  bottom: 120px;
  color: rgba(147, 146, 146, 0.683);
  color: var(--secondary);
  text-transform: uppercase;
  z-index: -1;
  letter-spacing: 60px;
  line-height: 20rem;
  font-weight: 300;
  opacity: 0.5;

  font-style: italic;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--accent);
  color: var(--secondary);
}

.slide__item__content {
  padding: 50px 0;
  color: var(--text) !important;
}

@media screen and (max-width: 1024px) {
  .slide__item {
    background-position: 80%;
  }
}

.slide__item__content__title {
  font-size: 50px;
  text-transform: capitalize;
}
.slide__item__content__description {
  font-size: 18px;
  width: 80%;
  margin-right: auto;
  margin-top: 20px;
}

.slide__item__img {
  text-align: center;
  background-color: var(--secondary);
  width: 60%;
  /* margin-right: 50px; */
  margin-left: auto;
  margin-top: 50px;
  border-radius: 0 0 0 100px;
  overflow: hidden;
  position: relative;
}

.slide__item__img img {
  display: block;
  text-align: center;
  width: 100%;
  height: 500px;
  object-fit: contain;
  transition: all 0.5s;
}

.slide__item__img img:hover {
  transform: scale(1.1);
}

.img__add {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  width: 200px;
  position: absolute;
  top: 0;
  left: -100px;
  z-index: 3;
}

@media screen and (max-width: 1024px) {
  .slide__item__img {
    width: 80%;
  }

  .slide__item__content__title {
    font-size: 34px;
    text-transform: capitalize;
  }

  .slide__item__content__description {
    font-size: 15px;
    width: 80%;
  }

  .slide__item__content {
    /* padding: 50px 0 0 70px; */
    color: var(--text) !important;
  }
}

@media screen and (max-width: 900px) {
  .slider {
    background-image: url("../../assets/Images/Slider/3.png");
    background-size: contain;
    background-position: center 30%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    background-color: var(--background) !important;
    display: block;
  }

  .slider::after {
    content: "";
    /* backdrop-filter: blur(1px); */
    /* background-color: var(--overlayHome); */
    background-color: rgba(0, 0, 0, 0.497);
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
  }

  .slide__item__img__container {
    display: none;
  }

  .slide__item__content {
    color: white;
    text-align: center;
  }

  .slide__item__content__title {
    font-size: 45px;
    text-transform: capitalize;
    text-align: center;
    color: white;
  }
  .slide__item__content__description {
    font-size: 18px;
    width: 80%;
    margin-inline: auto;
    color: white;
    font-weight: 500;
  }

  .slide__item__content__btn {
    text-align: center;
  }
}

@media screen and (max-width: 850px) {
  .slide__item__img {
    width: 90%;
  }

  .slide__item__content__title {
    font-size: 35px;
    text-transform: capitalize;
  }
  .slide__item__content__description {
    font-size: 15px;
  }
}

@media screen and (max-width: 700px) {
  .slide__item__content__title {
    font-size: 25px;
  }
}

@media screen and (max-width: 585px) {
}
