.slide__item {
  /* position: relative; */
  /* z-index: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 60% center;
  background-size: cover; */
  width: 100%;
  height: 90vh;
  /* background-color: var(--background) !important;
  color: var(--text) !important; */
}

.slide__item__content__word {
  font-size: 250px;
  position: absolute;
  left: 50px;
  right: 50px;
  bottom: 120px;
  color: rgba(147, 146, 146, 0.683);
  /* background: linear-gradient(120deg, var(--primary), var(--accent)); */
  color: var(--secondary);
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  text-transform: uppercase;
  z-index: -1;
  letter-spacing: 60px;
  line-height: 20rem;
  font-weight: 300;
  opacity: 0.5;

  font-style: italic;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--accent);
  color: var(--secondary);
}

.slide__item__content {
  padding: 50px 50px 0 70px;
  color: var(--text) !important;
}

@media screen and (max-width: 1024px) {
  .slide__item {
    background-position: 80%;
  }
}

.slide__item__content__title {
  font-size: 50px;
  /* color: #1b2129; */
  text-transform: capitalize;
  /* width: 35%; */
}
.slide__item__content__description {
  font-size: 18px;
  /* color: #1b2129e1; */
  width: 80%;
  margin-right: auto;
  margin-top: 20px;
}

.slide__item__img {
  text-align: center;
  background-color: var(--secondary);
  width: 60%;
  margin-right: 50px;
  margin: auto;
  margin-top: 50px;
  /* padding-top: 10px; */
  border-radius: 0 0 0 100px;
  overflow: hidden;
  position: relative;
}

.slide__item__img img {
  display: block;
  text-align: center;
  width: 100%;
  height: 500px;
  object-fit: contain;
  transition: all 0.5s;
}

.slide__item__img img:hover {
  transform: scale(1.1);
}

.img__add {
  /* background-image: url("../../assets/Images/Slider/dots.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  width: 200px;
  position: absolute;
  top: 0;
  left: -100px;
  z-index: 3;
}

@media screen and (max-width: 1024px) {
  .slide__item__img {
    width: 80%;
  }

  .slide__item__content__title {
    font-size: 34px;
    text-transform: capitalize;
  }

  .slide__item__content__description {
    font-size: 15px;
    width: 80%;
  }

  .slide__item__content {
    padding: 50px 0 0 70px;
    color: var(--text) !important;
  }
}

@media screen and (max-width: 900px) {
  .slide__item {
    background-image: url("../../assets/Images/Slider/3.png");
    background-size: contain;
    background-position: center 30%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    background-color: var(--background) !important;
    display: block;
  }

  .slide__item::after {
    content: "";
    /* background-color: rgba(255, 255, 255, 0.239); */
    backdrop-filter: blur(2px);
    background-color: var(--overlayHome);
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
  }

  .slide__item__img__container {
    display: none;
  }

  .slide__item__content {
    padding: 50px 20px 0 20px;
    color: var(--text) !important;
    text-align: center;
  }

  .slide__item__content__title {
    font-size: 45px;
    text-transform: capitalize;
    text-align: center;
  }
  .slide__item__content__description {
    font-size: 18px;
    width: 80%;
    margin-inline: auto;
    font-weight: 500;
  }

  .slide__item__content__btn {
    text-align: center;
  }
}

@media screen and (max-width: 850px) {
  .slide__item__img {
    width: 90%;
  }

  .slide__item__content__title {
    font-size: 35px;
    /* color: #1b2129; */
    text-transform: capitalize;
    /* width: 35%; */
  }
  .slide__item__content__description {
    font-size: 15px;
  }
}

@media screen and (max-width: 700px) {
  .slide__item__content__title {
    font-size: 25px;
  }

  /* .slide__item__img {
    width: 90%;
    border-radius: 0 0 0 50px;
  } */

  /* .slide__item__img img {
    height: 400px;
  } */
}

@media screen and (max-width: 585px) {
}
