.filter_products__category__checkbox {
  color: var(--accent) !important;
}

.MuiFormControlLabel-label {
  color: var(--text);
  text-transform: capitalize;
}

.filter_products__titles {
  text-transform: capitalize;
  padding-bottom: 8px;
  margin-bottom: 10px;
  position: relative;
  color: var(--placeholder);
}

.filter_products__titles::after {
  content: "";
  width: 100px;
  height: 3px;
  background: linear-gradient(to right, var(--accent), var(--background));
  position: absolute;
  bottom: 0;
  left: 0;
}

.slider_price {
  color: var(--accent) !important;
  margin-top: 30px;
  width: 80% !important;
  margin-left: 15px;
}

.css-lzklpr-MuiSlider-root .MuiSlider-rail {
  color: var(--text) !important;
}

.showFilter {
  width: fit-content;
  background: linear-gradient(to right, var(--primary), var(--accent));
  padding: 10px;
  border-radius: 5px;
  color: var(--secondary);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  margin-bottom: 20px;
  margin-left: 15px;
  display: none;
}

.showFilter:hover {
  background: linear-gradient(to top, var(--accent), var(--primary));
}

.filter_products__section {
  padding-bottom: 15px;
  padding: 0 20px 15px;
}

.filter_products__section:not(.filter_products__section--last) {
  border-bottom: 1px solid var(--placeholder);
  margin-bottom: 15px;
}

.dialog__filter {
  text-transform: capitalize;
  font-size: 30px !important;
  font-weight: 700 !important;
}

.dialog__filter__content {
  padding: 0 !important;
}

.filter_products__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 20px 0;
  gap: 10px;
}

.filter_products__btn .mainBtn {
  margin: 0 !important;
}

.css-6y92bt-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: var(--accent) !important;
}

.css-6y92bt-MuiButtonBase-root-MuiPaginationItem-root:hover {
  background-color: var(--placeholder) !important;
  color: var(--secondary) !important;
}

.css-xmhac9-MuiTypography-root-MuiDialogContentText-root,
.css-bdhsul-MuiTypography-root-MuiDialogTitle-root {
  background-color: var(--background) !important;
}

.filter__options {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}

.resetFilter {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 20px;
  padding: 22px;
  height: 30px;
}
@media screen and (max-width: 600px) {
  .filter__container {
    display: none;
  }
  .showFilter {
    display: flex;
  }
}
