header.appNavbar {
  background-color: var(--background);
  border-bottom: 1px solid rgba(0, 0, 0, 0.161);
  /* color: rgb(41, 40, 40); */
}

.appNavbar button {
  /* color: black; */
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

.preLogo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px !important;
  background-color: var(--accent) !important;
}

.preLogo,
.logo {
  color: var(--text) !important;
  font-family: "Poppins" !important;
  font-weight: 700 !important;
  cursor: pointer;
}
.nav-link {
  color: var(--text);
  text-decoration: none;
  margin: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 10px;

  /* font-style: italic; */
  /* -webkit-text-stroke-width: 1px; */
  /* -webkit-text-stroke-color: var(--text); */
  /* color: transparent; */
  transition: all 0.3s;
  position: relative;
  z-index: 1;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 10px;
  bottom: 10px;
  left: 0;
  transition: all 0.3s;
  background-color: var(--accent);
  z-index: -1;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

.nav-link.active {
  /* color: red; */
}

.appNavbar__cartIcon,
.appNavbar__mode {
  color: var(--text) !important;
}

@media screen and (max-width: 430px) {
  .appNavbar button {
    width: 1.4rem;
    font-weight: 600;
    text-transform: capitalize;
    padding: 2px !important;
  }

  button.appNavbar__mode {
    margin-right: 20px !important;
  }
  .preLogo {
    width: 30px;
    height: 30px;
  }

  .css-1fhxy4v-MuiAvatar-root {
    width: 30px !important;
    height: 30px !important;
  }
}
