.mainBtn {
  font-size: 18px !important;
  font-weight: 700 !important;
  letter-spacing: 1px !important;
  /* transition: all 0.3s ease-in-out !important; */
}

.mainBtn:hover {
  outline: 2px solid black;
  outline-offset: 2px;
}
