.cartPage__title {
  padding: 40px 0;
  color: var(--text);
  text-transform: capitalize;
}
.cartPage__table {
  background-color: var(--secondary);
}

.cartPage__table td,
.cartPage__table th {
  color: var(--text);
  text-align: center;
}

.cartPage__table th.item__text {
  text-align: left !important;
  padding-left: 25px;
}

.cartPage__table__item {
  background-color: transparent !important;
}
.cartPage__table__quantity {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  align-items: center;
  width: fit-content;
  background-color: var(--background);
  border-radius: 5px;
  font-size: 16px;
}

.cartPage__table__remove {
  cursor: pointer;
  transition: all 0.4s;
}

.cartPage__table__remove:hover {
  color: red;
}
.cartPage__table__price {
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
}

.cartPage__table__final {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 600;
}

.cartPage__check {
  padding: 0 10px;
}
.cartPage__check__details {
  font-size: 22px;
  text-transform: capitalize;
  font-family: "Poppins";
}

.cartPage__check__details__subTotal,
.cartPage__check__details__shipping,
.cartPage__check__details__tax,
.cartPage__check__details__totalPrice {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.text {
  text-transform: capitalize;
}

.cartPage__check__details__promoCode * {
  margin: 0;
}
.cartPage__check__details__promoCode input {
  /* padding: 10px !important; */
  margin: 0;
  /* background-color: var(--placeholder); */
}

.cartPage__check__details__promoCode__text {
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.cartPage__check__details__promoCode__text:hover {
  color: red;
}
