.cartPage__title {
  /* padding: 40px 0; */
  color: var(--text);
  text-transform: capitalize;
}

.cartPage__top {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  background-color: var(--secondary);
}

.cart__content {
  margin-top: 20px !important;
}

@media screen and (max-width: 440px) {
  .cartPage__top {
    display: flex !important;
    justify-content: start;
    flex-flow: column nowrap !important;
    align-items: start;
    gap: 15px;
    padding: 50px 0;
    width: 100% !important;
  }

  .cartPage__top__item {
    max-width: 100% !important;
  }
  .cartMenu__content__products__clearAll {
    margin: 0;
  }
}
.cartPage__iconsGrid {
  text-align: right;
}
.cartPage__iconsGrid svg {
  margin-left: 10px;
  transition: all 0.2s;
  cursor: pointer;
}

.cartPage__iconsGrid svg:hover {
  color: var(--accent) !important;
}

.cartPage__iconsGrid span.active {
  color: var(--accent) !important;
}
/* .cartTable__content__products__item__img {
  width: 80px !important;
  flex-basis: 100px;
  flex-shrink: 0;
} */
.cartTable__content__products__item__img img {
  height: 80px;
}
.cartPage__table .cartMenu__content__products__item__details {
  min-width: 200px;
  width: 200px;
}
.cartPage__table .cartMenu__content__products__item__details__title {
  /* width: 40%; */
}
.cartMenu__content__products__item__details__title {
  cursor: pointer;
  transition: all 0.4s;
}
.cartMenu__content__products__item__details__title:hover {
  color: var(--accent);
}
