.cartPage__title {
  padding: 40px 0;
  color: var(--text);
  text-transform: capitalize;
}

.cartPage__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartPage__iconsGrid svg {
  margin-left: 10px;
  transition: all 0.2s;
  cursor: pointer;
}

.cartPage__iconsGrid svg:hover {
  color: var(--accent) !important;
}

.cartPage__iconsGrid span.active {
  color: var(--accent) !important;
}
