.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  /* background-color: var(--background); */
  /* position: fixed;
  z-index: 100;
  top: 0;
  left: 0; */
}
