.logoContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  /* align-items: start; */
}

.logoContainer{

}

.preLogo,
.logo {
  color: var(--text) !important;
  font-weight: 700 !important;
  cursor: pointer;
}