.backBtn {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  /* margin: auto; */
}

.checkBtn {
  margin-top: 0;
  margin-left: 20px;
}

.checkOut__container {
  background-color: var(--background) !important;
  color: var(--text) !important;
}

.MuiStepLabel-labelContainer,
.css-1hv8oq8-MuiStepLabel-label.Mui-completed {
  color: var(--text) !important;
}
.css-1hv8oq8-MuiStepLabel-label.Mui-active {
  color: var(--accent) !important;
}
