.bannersSections__container {
  height: fit-content;
  padding: 50px 0;
}

.banner__content {
  background-color: var(--secondary);
  padding: 25px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  min-height: 220px;
  /* height: 100%; */
  height: inherit;
  max-height: 100%;
  color: var(--text);
  border-radius: 10px;
  border: 1px solid var(--placeholder);
  /* margin-bottom: 16px; */
}

.banner__content img {
  position: absolute;
  right: 0;
  bottom: 25px;
  z-index: -1;
  object-fit: fill;
}

.banner-section {
  height: 100%;
}

.grid1 img {
  height: 600px;
}

.grid2 img {
  height: 300px;
}

.grid2 .banner__content:first-child {
  margin-bottom: 16px;
}

@media screen and (max-width: 900px) {
  .grid1 img {
    height: 300px;
  }
}

@media screen and (max-width: 440px) {
  .bannersSections__container img {
    opacity: 0.5;
  }
}

.banner__content__productsNum {
  font-size: 20px;
  text-transform: capitalize;
}

.banner__content__sectionName {
  text-transform: capitalize;
  margin: 10px 0;
}

.banner__content__description {
  color: var(--placeholder);
  margin-bottom: 15px;
  font-size: 1rem;
}

.banner__content__categories li {
  list-style: none;
  margin: 8px 0;
  text-transform: capitalize;
  font-size: 1.333rem; /* 21.28px */
}
