.bannersSections__container {
  height: fit-content;
  padding: 50px 0;
}

.banner__content {
  background-color: var(--secondary);
  padding: 25px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  min-height: 220px;
  /* height: 100%; */
  height: inherit;
  max-height: 100%;
  color: var(--text);
  border-radius: 10px;
  border: 1px solid var(--placeholder);
  /* margin-bottom: 16px; */
}

/* .banner__content img {
  position: absolute;
  right: 0;
  bottom: 25px;
  z-index: -1;
  object-fit: fill;
} */
.banner__content .banner__content__img__container {
  position: absolute;
  right: 10px;
  top: 10px;
  bottom: 10px;
  z-index: -1;
  overflow: hidden;
}

.banner-section {
  height: 100%;
}

.grid1 img {
  height: 600px;
  /* height: auto; */
}

.grid2 img {
  height: 250px;
  object-fit: contain;
}

.grid2 .banner__content:first-child {
  margin-bottom: 16px;
}

@media screen and (max-width: 900px) {
  .grid1 img {
    height: 300px;
  }
}

@media screen and (max-width: 440px) {
  .banner__content {
    position: relative;
  }
  .bannersSections__container img {
    /* opacity: 0.5; */
    /* backdrop-filter: blur(1px); */
  }

  .banner__content::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.071);
    inset: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }
}

.banner__content__productsNum {
  font-size: 20px;
  text-transform: capitalize;
}

.banner__content__sectionName {
  text-transform: capitalize;
  margin: 10px 0;
  cursor: pointer;
  transition: all 0.3s;
}

.banner__content__sectionName:hover {
  color: var(--accent);
}
.banner__content__description {
  color: var(--placeholder);
  margin-bottom: 15px;
  font-size: 1rem;
}

.banner__content__categories li {
  list-style: none;
  margin: 8px 0;
  text-transform: capitalize;
  font-size: 1.333rem; /* 21.28px */
}
