.pagination {
  padding: 30px 0;
}
.pagination ul {
  justify-content: center;
}

.pagination li * {
  color: var(--text) !important;
}

.section__title {
  text-transform: uppercase;
  padding: 30px 0;
  background-color: var(--secondary);
  text-align: center;
}

.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected,
.css-1xr9krm.Mui-selected {
  background-color: var(--accent) !important;
}

.p-30 {
  padding: 30px 0;
}

.products .resetFilter {
  display: none;
}

@media screen and (max-width: 600px) {
  .products .resetFilter {
    display: flex;
  }
}
