.pagination {
  padding: 30px 0;
}
.pagination ul {
  justify-content: center;
}

.pagination li * {
  color: var(--text) !important;
}

.section__title {
  text-transform: uppercase;
  padding: 30px 0;
  background-color: var(--secondary);
  text-align: center;
}

.p-30{
  padding: 30px 0;
}
