* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* @import url("https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&family=Roboto:wght@400;500;700&display=swap");

/* Light mode variables */
:root {
  --text: #000205;
  --background: #dcdbdc;
  --backgroundSec: #cfcfcf;
  --primary: #0c3fac;
  --secondary: #e7e4e4;
  --accent: #3b72e8;
  --border: 1px solid #c4babad0;
  /* --input: #e3e3e3; */
  --input: #e5e5e6;
  --placeholder: #0000008d;
  --overlay: rgba(0, 0, 0, 0.234);
  --overlayHome: rgba(255, 255, 255, 0.507);
  --mode: #0c3fac;
}

/* Dark mode variables */
:root.dark-mode {
  --text: #fafcff;
  --background: #242324;
  --backgroundSec: #2b2a2b;

  --primary: #5386f3;
  --secondary: #1a1818;
  --accent: #174ec4;
  --border: 1px solid #eeeeee2b;
  --input: #1c1c1c;
  /* --input: #19191a; */
  --placeholder: #eeeeeea8;
  --overlay: rgba(255, 255, 255, 0.157);
  --overlayHome: rgba(0, 0, 0, 0.234);
  --overlayHome: rgba(0, 0, 0, 0.497);
  --mode: orange;
}

/* Common styles */
body {
  background-color: var(--background) !important;
  color: var(--text) !important;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  /* height: 3000px; */
}

/* button {
  background-color: var(--primary) !important;
} */

h1,
h2,
h3,
h4,
h5,
a {
  /* font-family: "Poppins"; */
  font-weight: 700;
  font-family: "EB Garamond", serif !important;
}

/* svg {
  color: white !important;
} */
p {
  font-family: "Roboto", sans-serif !important;
  font-size: 16px;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}

.swal2-container {
  z-index: 1500 !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  margin-block: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(120deg, var(--primary), var(--accent));
  border-radius: 10px;
}

.secondary {
  background-color: var(--secondary);
}
.secBtn {
  text-transform: capitalize;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary);
  color: var(--text);
  font-weight: 400;
  font-family: "Poppins";
  cursor: pointer;
  transition: all 0.3s;
}

.secBtn:hover {
  transform: translate(0, -3px);
  outline: none;
}

.mainBtn {
  text-transform: capitalize;
  font-size: 18px;
  padding: 10px 20px;
  margin-top: 30px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary);
  color: var(--background);
  font-weight: 700;
  font-family: "Poppins";
  cursor: pointer;
  width: 10rem;
  transition: all 0.3s;
}

.mainBtn:hover {
  transform: translate(0, -3px);
  box-shadow: 0 20px 80px -10px var(--primary);
  outline: none;
}
