.product {
  border: 1px solid #eeeeee3b;
  border: var(--border);
  border-radius: 10px;
  /* padding: 20px; */
  margin: 10px;
  position: relative;
  overflow: hidden;
  background-color: var(--secondary);
  transition: all 0.3s;
}

.product:hover {
  box-shadow: 0 0 10px 0px var(--overlay);
}
.product__image {
  position: relative;
  transition: all 0.3s;

  /* z-index: 1; */
}
.product__image::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.187);
  background-color: var(--overlay);
  /* width: 0%;
  height: 0%; */
  inset: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  opacity: 0;
  /* z-index: -1; */
  /* visibility: hidden; */
  transition: all 0.3s;
}

.product__image img {
  /* object-fit: contain; */

  /* height: 300px; */
  height: auto;
  /* width: 100px; */
  width: 100%;
  /* min-width: 50px; */
  /* margin: auto; */
  transform: scale(1);
  transition: all 0.2s;
  display: block;
  /* height: 250px;
  max-width: 100%;
  width: auto; */
}

.product__content {
  padding: 15px;
}

.product__content__rating {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  gap: 3px;
  color: orange;
  color: #f6bc3e;
  font-size: 14px;
}
.product__content__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product__content__text a {
  font-size: 16px;
  font-weight: 500;
  color: var(--text) !important;
  margin: 4px 0;
  cursor: pointer;
  transition: all 0.5s;
  text-decoration: none;
  font-weight: 700;
}

.product__content__text a:hover {
  color: var(--accent);
}
.product__content__price {
  display: flex;
  justify-content: start;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  color: var(--text);
}

.product__content__price__before,
.dialog__productDetails .product__content__price__before {
  color: rgb(139, 135, 135) !important;
  font-family: "Poppins";
}

.product__content__price__after,
.dialog__productDetails .product__content__price__after {
  color: red !important;
  font-family: "Poppins";
}

/* .product__icons {
  position: absolute;
  top: 10px;
  right: 10px;
  transform: translateY(-20px);
  opacity: 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  transition: transform 0.3s, opacity 0.2s;
} */

.product__icons {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 30%;
  right: 50%;
  /* left: 0; */
  /* inset: 0; */
  transform: translateX(50%);
  transition: all 0.5s;
  opacity: 0;
}

.product__icons li {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #66666639;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 8px;
  transition: all 0.3s;
  cursor: pointer;
  background-color: var(--text);
  color: var(--accent);
  transition: all 0.3s;
}

.product__icons li:hover {
  background-color: var(--accent);
  color: var(--text);
}
/* .product__icons li:hover {
  background-color: var(--main-color);
} */

.product:hover .product__icons {
  opacity: 1;
  transform: translate(50%, -50%);
}
.product:hover .product__image::after {
  /* width: 100%;
  height: 100%; */
  opacity: 1;
}
/* .product:hover .product__image img {
  transform: scale(1.04);
} */

.product__discount {
  background-color: #28a745;
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: "Poppins";
  font-size: 13px;
  padding: 2px 8px;
  font-weight: 600;
}

.category__btn {
  border: none;
  margin: 10px;
  padding: 10px;
  background-color: var(--primary);
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins";
  text-transform: capitalize;
  color: var(--text);
  color: var(--secondary);
  font-weight: 600;
}

.dialog__productDetails {
  background-color: var(--background) !important;
  color: var(--text) !important;
}

/* .dialog__productDetails  {
  color: var(--text);
} */

.productDetails__content__title,
.dialog__productDetails .productDetails__content__title {
  color: var(--text);
}

.productDetails__content__description,
.dialog__productDetails .productDetails__content__description {
  color: var(--text);
}
